body {
  overflow-x: hidden;
  font-family: var(--font);
}

main {
  display: flex;
  height: 700px;
  background-color: #072759;
  box-shadow: 0px 0px 1000px 220px #072759;
}



#texto_inicial {
  background-color: #072759;
  width: 35%;
  text-align: center;
  justify-items: center;
  z-index: 2;
  box-shadow:0px 0px 100px 150px #072759;
}
#texto_inicial h2{
  font-size: 80px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}
#texto_inicial p{
  margin-top: 15px;
  width: 80%;
  text-align: left;
  height: auto;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

#imagem_inicial {
  background-image: url(/assets/plantacao.jpg);
  background-size: cover;
  background-position: right;
  width: 65%; 
  z-index: 1;
}