/* Variáveis */
:root {
  --background-site: #020c1b;
  --primary-color: #00d2ff;
  --secondary-color: #072759;
  --color-text: #ffffff;
  --background-footer: #2c6b24;
  --color-text-footer: #94a3b8;
  --font: DM Sans, sans-serif;
}
